body
  background-color: #000

#selector
  float: left

#info
  height: 40px
  font-size: 32px
  color: #000
  text-shadow: #777 1px 1px 2px
  text-align: right
  margin: 20px 10px
  text-transform: lowercase

.meta
  background: url(../img/meta-bg.png)
  background-size: 13px 2px
  background-position: bottom
  background-repeat: repeat-x
  padding: 0px 0px 10px 10px
  overflow: hidden
  z-index: 1000

#tail
  clear: both
  overflow-x: hidden
  overflow-y: auto
  background-color: #000
  color: #00ff00
  text-shadow: lime 0 0 2px
  height: 400px
  padding: 10px
  font-size: 12px
  line-height: 20px

  li.matching
    background-color: #885

.trebuchet
  font-family: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif

.monospace
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", "Terminal", monospace

.selection::selection, .selection *::selection
  background: #EEE
  color: #000
  border-color: #000
  text-shadow: #fff 0 0 2px

.selection::-moz-selection, .selection *::-moz-selection
  background: #EEE
  color: #000
  border-color: #000
  text-shadow: #fff 0 0 2px

::-webkit-scrollbar
  width: 6px

::-webkit-scrollbar-track-piece
  border-radius: 3px

::-webkit-scrollbar-thumb
  background: #555
  width: 5px
  border-radius: 10px
  opacity: 0.2

ol:hover::-webkit-scrollbar-thumb
  background-color: #ccc
  opacity: 1.0

#tail li:hover
  background: #222

/* Yellow-fade thanks to @snookca: http://snook.ca/archives/html_and_css/yellow-fade-technique-css-animations */

#tail li
  -webkit-animation: target-fade 3s 1
  -moz-animation: target-fade 3s 1

@-webkit-keyframes target-fade {
  0% { background-color: rgba(255,255,0,0.2); }
  100% { background-color: rgba(0,0,0,0); }
}
@-moz-keyframes target-fade {
  0% { background-color: rgba(255,255,0,0.2); }
  100% { background-color: rgba(0,0,0,0); }
}